<style>
    .body{
        text-align: center;
        padding: 30px;
    }
    .form-card{
        background: rgba(247,247,247,1);
        background: -moz-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgb(12, 79, 107) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(20,134,183,1)), color-stop(100%, rgba(20,134,183,1)));
        background: -webkit-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgb(7, 60, 83) 100%);
        background: -o-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgb(8, 61, 83) 100%);
        background: -ms-linear-gradient(-45deg, rgba(247,247,247,1) 0%, rgb(14, 78, 105) 100%);
        background: linear-gradient(135deg, rgba(247,247,247,1) 0%, rgb(10, 82, 112) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#1486b7', GradientType=1 );
        height: 300px;
        width: 300px;
        margin: 0 auto;
        border-radius: 2%;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    }
    </style>
    
    <div class="body">
        <h3>Contatos</h3>
        <div class="form-card">
               
        </div>
    </div>
